<%- include('../partials/header') %> 
<h1>GO CRAZY</h1>
<br>

<h2>RANDOM RESTAURANT</h2>
<button id="random-restaurant-button"><a href="/restaurants/<%= restaurant._id %>">RANDOMIZE</a></button>
<%// if (restaurant === true) { %>
    <!--  <div class="Restaurant-random-box">
        <div class="res-image"><img src="<%=// restaurant.image%>"></div>
        <div class="res-name"><%=// restaurant.name %></div></div>
        <div class="res-website"><a><%=// restaurant.website %></a></div>
        <%// } %>-->
<h2>RANDOM PIZZA</h2>
<button class="random-pizza-button"><a href="/pizzas/<%= pizza._id %>">RANDOMIZE</a></button>
<h2>RANDOM BOTH</h2>
<button class="random-both-button">HOW DARING<br>
    THIS IS UNDER CONSTRUCTION
</button>

<!--<%// restaurants = restaurants %> 
<script>var restaurants = <%=// restaurants %>
let randombut = document.querySelector('#random-restaurant-button')
let randomRes = function(restaurant) {
    let randomNum = Math.floor(Math.random() * restaurants.length)
    console.log(restaurants)
    restaurants[randomNum] = restaurant
    console.log(restaurant)
    return restaurant
   }
   randombut.addEventListener('click', randomRes)
   </script> -->


<%- include('../partials/footer') %> 