<%- include('../partials/header') %>
<h1>PIZZA</h1>
<% if (user) { %>
    <div class="new-pizza-a">
    <a href="/pizzas/new"><button class="new-pizza-link">CREATE PIZZA</button></a>
    </div>
<% } %> 
<div class="index-board">
    <% pizzas.forEach(function(p) { %>
        <div class="index-box">
        <div class="index-image"><img id="index-image" src="<%= p.image %>"></div>
        <div class="name-container"><h2><%= p.name %></h2></div>
        <div class="toppings"><%= p.toppings %></div>
        <div class="restaurants-available"></div>
        <!--<div class="details-link"><a href="/pizzas/<%=// p.id %>">VIEW</a></div>-->
        <% if (user) { %> 
            <% if (!user.favouritePizzas.includes(p.id)) { %>
            <div class="favourite-form"><form action="pizzas/<%= p.id %>/users" method="POST">
           <button class="favourite-button" type="submit" name="pizzaId" value="<%= p._id %>">ADD FAVOURITE</button>
           </form></div>
           <% } if (user.favouritePizzas.includes(p.id)) { %>
               <div class="favourite-form"><form action="pizzas/<%= p.id %>/users?_method=DELETE" method="POST">
                   <button class="favourite-button" type="submit" name="pizzaId" value="<%= p._id %>">REMOVE FAVOURITE</button>
                   </form></div>
         <%  }} %> 
        </div>
    <% }) %> 
</div>

<%- include('../partials/footer') %> 