<%- include('../partials/header') %>
<h1><%= pizza.name %></h1>
<br><br>
<ul>
    <li><%= pizza.toppings %></li>
    <li><%= pizza.sauce %> </li>
    <li><%= pizza.crust %> </li>
</ul>


<%- include('../partials/footer') %> 