<%- include('../partials/header') %> 
<h1>Restaurants</h1>
<% if (user) { %>
    <a href="/restaurants/new">CREATE RESTAURANT</a>
<% } %> 
<div class="restaurant-board">
    <% restaurants.forEach(function(r) { %>
        <div class="res-image"><img src="<%= r.image %>"></div>
        <div class="name-container"><%= r.name %></div>
        <div class="location"><%= r.location %></div>
        <div class="details-link"><a href="/restaurants/<%= r.id %>">VIEW</a></div>
        <% if (user) { %> 
            <% if (!user.favouriteRestaurants.includes(r.id)) { %>
            <div class="favourite-form"><form action="restaurants/<%= r.id %>/users" method="POST">
           <button type="submit" name="restaurantId" value="<%= r._id %>">ADD FAVOURITE</button>
           </form></div>
           <% } if (user.favouriteRestaurants.includes(r.id)) { %>
               <div class="favourite-form"><form action="restaurants/<%= r.id %>/users?_method=DELETE" method="POST">
                   <button type="submit" name="restaurantId" value="<%= r._id %>">REMOVE FAVOURITE</button>
                   </form></div>
         <%  }} %> 
    <% }) %> 
</div>
<%- include('../partials/footer') %> 