<%- include('../partials/header') %> 
<h1><%= restaurant.name %></h1>
<ul>
    <li>Location: <%= restaurant.location %> </li>
    <li>Pricing: <%= restaurant.price %> </li>
</ul>
<% if (user) { %> 
    <% if (!user.favouriteRestaurants.includes(restaurant.id)) { %>
    <div class="favourite-form"><form action="<%= restaurant.id %>/users" method="POST">
   <button type="submit" name="restaurantId" value="<%= restaurant._id %>">ADD FAVOURITE</button>
   </form></div>
   <% } if (user.favouriteRestaurants.includes(restaurant.id)) { %>
       <div class="favourite-form"><form action="<%= restaurant.id %>/users?_method=DELETE" method="POST">
           <button type="submit" name="restaurantId" value="<%= restaurant._id %>">REMOVE FAVOURITE</button>
           </form></div>
 <%  }} %> 
<br><br>
<h2>Reviews</h2>
<% if (restaurant.reviews.length) { %>
    <% let total = 0 %> 
    <% restaurant.reviews.forEach(function(rv) {%>
        <%= total += rv.rating %>
        <ul>
            <li><%= rv.user %></li>
            <li><%= rv.rating %></li>
            <li><%= rv.content %></li>
        </ul>
        <form action="/reviews/<%=rv.id%>?_method=DELETE" method="POST">
        <button>X</button></form>
    <% }) %> 
    <% } %> 
<br><br>
<form action="/restaurants/<%= restaurant.id %>/reviews" method="POST">
<label>Rating: </label>
<select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
<label>Commments:</label>
<input type="text" name="content">
<input type="submit" value="Add Review">
</form>
<%- include('../partials/footer') %> 